@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


* {
    margin: 0;
    padding: 0;
    font-family: Pretendard Thin, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
#Main_header{
    width: 100%;
    height: 127px;
    font-weight:100;
}

.logo_svg{
    float: left;
    margin-right: 12px;
}


.p_title{
    color: white;
    line-height: 51px;
    font-size: 27px;
    position: relative;
}

.header_title_kr{
    display: none;
}

.p_title:hover .header_title_kr{
    color: white;
    display: block;
}

.p_title:hover .header_title_en{
    display: none;
}
.Menu_round{
    float: left;
    width: 51px;
    height: 51px;
    background-color: white;
    border-radius: 40px;
}

.Header_Menu{
    position: relative;
    font-size: 27px;
    color: white;
    line-height: 51px;
    text-align: end;


    /*width: 250px;
    margin-left: 61%;*/
}

.hr{
    color: white;
    height: 3px;
}
