
button{
   border: 0;
    background-color: black;
    color: white;
}
button:focus{
    outline: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.login_box{
    color: black;
}

.login_title{
    font-size: 21px;
    font-weight: 100;
    line-height: 51px;
    color: white;

    display: flex;
    justify-content: center;

}

.login_form{
    width: 656px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn_area{
    text-align: center;
}

.int_area{
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.int_area input{
    width: 400px;
    padding: 20px 10px 10px;
    border: none;
    border-bottom: 1px solid white;
    font-size: 18px;
    background-color: black;
    color: white;
}

@media(max-width: 576px) {
    .int_area input{
        width: 200px;
        padding: 20px 10px 0px;
        border: none;
        border-bottom: 1px solid white;
        font-size: 15px;
        background-color: black;
    }

    .login_title{
        font-size: 21px;
        font-weight: 100;
        line-height: 51px;
        color: white;
        margin: 0;
    }

}

.int_area label{
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 24px;
    transition: all .5s ease;
    font-weight: 100;
}

.int_area input:focus + label,
.int_area input:valid + label{
    top: -5px;
    font-size: 18px;
    color: white;
    opacity: 50%;
}

.btn_area{
    font-size: 20px;
    text-align: right;
}